# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# testing
coverage

# next.js
.next/
out/
build
dist

# misc
.DS_Store
*.pem

# debug
*.log

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# git
.git
.gitignore

# docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode
.idea

# README and docs
README.md
QUICKSTART.md

